{% extends "layout.html" %}
{% block content %}
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="card">
        <p class="card-text text-xs-center"><strong>Bookmark Title</strong></p>
        <img class="framer" src="http://api.thumbalizr.com?url=https://plugins.jquery.com/tag/url/&width=600">
        <a class="overlay" href="https://plugins.jquery.com/tag/url/"></a>
      </div>
        <div class="card">
        <p class="card-text text-xs-center"><strong>Bookmark Title</strong></p>
        <img class="framer" src="http://api.thumbalizr.com?url=https://plugins.jquery.com/tag/url/&width=600">
        <a class="overlay" href="https://plugins.jquery.com/tag/url/"></a>
      </div>
        <div class="card">
        <p class="card-text text-xs-center"><strong>Bookmark Title</strong></p>
        <img class="framer" src="http://api.thumbalizr.com?url=https://plugins.jquery.com/tag/url/&width=600">
        <a class="overlay" href="https://plugins.jquery.com/tag/url/"></a>
      </div>
        <div class="card">
        <p class="card-text text-xs-center"><strong>Bookmark Title</strong></p>
        <img class="framer" src="http://api.thumbalizr.com?url=https://plugins.jquery.com/tag/url/&width=600">
        <a class="overlay" href="https://plugins.jquery.com/tag/url/"></a>
      </div>
        <div class="card">
        <p class="card-text text-xs-center"><strong>Bookmark Title</strong></p>
        <img class="framer" src="http://api.thumbalizr.com?url=https://plugins.jquery.com/tag/url/&width=600">
        <a class="overlay" href="https://plugins.jquery.com/tag/url/"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

