<!doctype html>
<html lang="en">
  <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="bookmark, personal, management, bookmark management, cross platform, mobile">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

        <title>Bookmark.me</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='album.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">

    {% endblock %}
  </head>
  <body>
    {% block navbar %}
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="#">Bookmark.Me</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {% if not session_user_name %}
                <li class="nav-item float-xs-right">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#mySignupModal">Sign Up</a>
                </li>
                {% endif %}
                <li class="nav-item float-xs-right">
                    {% if not session_user_name %}
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myLoginModal">Log In</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('action_logout') }}">Log Out</a>
                    {% endif %}
                </li>
                {% if session_user_name %}
                <li class="nav-item float-xs-right">
                    <a class="nav-link" href="{{ url_for('my_account') }}">My Account ({% print session_user_name %})</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        <footer class="footer text-muted">
          <div class="container">
            <p class="float-xs-right">
              <a href="#">Back to top</a>
            </p>
            <p>&copy; Copyright Nicu Farcas</p>
          </div>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='assets/js/vendor/holder.min.js') }}"></script>
        <script>
          $(function () {
            Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
          });
        </script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ url_for('static', filename='assets/js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock %}
  </body>
</html>