{% extends "layout.html" %}
    {% block content %}
    <section class="jumbotron text-xs-center wrapme">
      <div class="container">
            <h1>Bookmark.me Signup</h1>
            <form action="{{ url_for('action_signup') }}" method=POST class="form-signin">
             {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
             {% endwith %}
              <label for="inputName" class="sr-only">Name</label>
              <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

              <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
      </div>
    </section>
    {% endblock %}
